#map {
    height: 50vh;
    width: 50vw;
  }
  
  body{
      margin: 0px;
      padding: 0px;
      font-family: 'Righteous';
      /* color: white; */
    
    }
    
    #bg-active {
        background: rgb(210,218,248);;
    }
  
  .center-div {
    text-align: center;
  }

  .dashboard-header {
    font-size: 28px;
    box-shadow: 2px 2px 2px rgb(0 0 0 / 75%);
    margin-bottom: 20px;
  }
  
  .singlePostContainer {
    /* margin: 40px auto; */
    margin-top: 10px;
    justify-content: space-between;
  }

  .postsContainer{
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-auto-columns: auto;
      margin: auto;
      width: 95%;
      grid-column-gap: 40px;
      grid-row-gap: 20px;

  }

  .post {
    background: #eee;
    padding: 10px;
    color: white;
    font-family: "verdana";
    border-radius: 5px;
    -webkit-box-shadow: 0px 2px 88px -23px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 88px -23px rgba(0,0,0,0.75);
    box-shadow: 5px 5px 10px rgb(0 0 0 / 75%);
    /* background: rgb(149,0,255); */
    background: rgba(89,166,174,1);
  }
  
  .post h2 {
    text-align: center;
    font-family: 'Nunito', sans-serif;
  }
  
  .post p {
      padding-left: 15px;
      font-family: 'Nunito', sans-serif;
  }

  .post > div {
    height: 200px;
    width: auto;
    background-size: auto;
    border-radius: 5px;
    background-size: cover;
    
    
  }
  
  label {
    display: block;
    color: #eee;
    margin-bottom: 10px;
  }



  