.error-msg {
    color: red;
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
}

.btn-width {
    width: 22%;
}

.container {
    margin-top: 5%;
}

body {
    background: #e9ecef;
}

.login-container {
    background: white;
    max-width: 60%;
    border-radius: 5px;
}

.company-name {
    text-align: center;
    font-size: 40px;
    font-family: 'Nunito', sans-serif;
    margin-top: 40px;
}